<%= form_for @order, url: checkout_path, html: { id: 'checkoutForm'} do |f| %>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card bg-light mt-5">
				<div class="card-body">
					<ul class="list-unstyled my-4">
						<% @items.each do |i| %>
							<li class="media my-4">
								<%= link_to i.product do %>
									<%= image_tag i.product.image, class: 'cart-img mr-3' %>
								<% end %>
								<div class="media-body text-center mt-4 w-75">
									<p><%= i.product.title %>
									<% number_to_currency i.price %> x <%= i.quantity %> = <%= number_to_currency (i.price * i.quantity) %></p>
								</div>
							</li>
					</ul><hr/>
					<p class="text-right mr-3"><strong>Sub Total:</strong> <%=number_to_currency current_cart.sub_total %></p>
					<p class="text-muted text-right my-n3 mr-3">*Taxes included</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card bg-light mt-5">
				<div class="card-title text-center mt-3">
					<h5>Shipping Information</h5>				
				</div>
					<div class="form-group mx-1">
						<%= f.email_field :email, autofocus: true, placeholder: 'Email - For tracking info', class: 'form-control', name: 'email' %>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group mx-1">
								<%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control', name: 'firstname' %>
							</div>
						</div>
						<div class="col">
							<div class="form-group mx-1">
								<%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control', name: 'lastname' %>
							</div>
						</div>
					</div>
					<div class="form-group mx-1 mt-1">
						<%= f.country_select :country, priority_countries = ["US"], options = {}, html_options = {:class => "form-control", :name => "country"} %>
					</div>
					<div class="form-group mx-1">
						<%= f.text_field :street_address, placeholder: 'Street Address', class: 'form-control', name: 'address' %>
					</div>
					<div class="form-group mx-1">
						<%= f.text_field :address2, placeholder: 'Apt, Suite, Bldg, Gate Code. (optional)', class: 'form-control' %>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group mx-1">
								<%= f.text_field :city, placeholder: 'City', class: 'form-control', name: 'city' %>
							</div>
						</div>
						<div class="col">
							<div class="form-group mx-1">
								<%= f.text_field :state, placeholder: 'State/Province', class: 'form-control', name: 'state' %>
							</div>
						</div>
						<div class="col">
							<div class="form-group mx-1">
								<%= f.text_field :zip, placeholder: 'Postal Code', class: 'form-control', name: 'zip', id: 'zip' %>
							</div>
						</div>
					</div>
					<div class="mx-5 my-3">
					  <button class="btn btn-success btn-block text-center" data-toggle="modal" data-target="#modalCheckoutForm" id="checkoutModal">Calculate Shipping</button>
					</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalCheckoutForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Payment Information</h4>
      </div>
      <div class="modal-body mx-3">
      	<h4 class="text-center">** Free Shipping **</h4>
      	<p class="text-right mt-4"><strong><%= i.quantity %></strong> x <%= i.product.title %>
					<% number_to_currency i.price %></p><hr/>
					<ul class="list-unstyled">
						<li class="text-right">Sub Total: <%=number_to_currency current_cart.sub_total %></li>
						<li class="text-right">Tax: $0.00</li>
						<li class="text-right">Shipping: <strike>$5.99</strike></li>
						<li class="text-right mt-2"><h5>Total: <strong><%=number_to_currency current_cart.sub_total %></strong></h5></li>
					</ul>
        <div class="md-form mb-5">
        <h6 class="mt-3">Name on Card: </h6>
					<div class="form-group">
						<div class="row">
							<div class="col">
								<input type="text" class="form-control" placeholder="First">
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="Last">
							</div>
						</div>
					</div>
				<div class="row mt-2">
					<div class="col">
						<i class="fa fa-cc-stripe fa-lg"></i>
					</div>
					<div class="col">
						<i class="fa fa-cc-visa fa-lg"></i>
					</div>
					<div class="col">
						<i class="fa fa-cc-mastercard fa-lg"></i>
					</div>
					<div class="col">
						<i class="fa fa-cc-discover fa-lg"></i>
					</div>
					<div class="col">
						<i class="fa fa-cc-amex fa-lg"></i>
					</div>
				</div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
 				<%= f.submit "Pay", class: 'btn btn-success btn-block text-center', id: 'realSubmit', "data-dismiss": "modal" %>
      </div>
    </div>
  </div>
</div
<% end %>
<% end %>

