<div class="alert alert-success text-center mt-3" style="position: fixed; width: 100%; z-index: 9999;">
	Free Shipping to <%= @order.customer.country_name %>!
</div>
<!-- Jquery timer <span id="time"></span> -->

<div class="container bgcustom mb-1">
	<div class="row order-page">
		<div class="col-md-6">
			<div class="card bg-light mt-5">
				<div class="card-title text-center mt-3">
					<%= form_for @order, url: checkout_path, html: { id: 'checkoutForm'} do |f| %>
					<%= hidden_field_tag :customer_id, :value => params[:customer_id] %>
					<h5 class="text-center mb-3"> Order Summary</h5>
				</div>
	      	<% @items.each do |i| %>
	      	<li class="media mx-3">
						<%= link_to i.product do %>
							<%= image_tag i.product.image, class: 'checkout-img ml-4' %>
						<% end %>
						<div class="media-body text-right mt-4 w-75">
							<small class="text-right my-n1">
			      		<strong><%= i.quantity %></strong> x <%= i.product.title %> = 
								<%= number_to_currency i.price %>
							</small>
						</div>
					</li>
					<% end %>
					<hr class="my-3"/>
					<ul class="list-unstyled mt-n2 mr-3"><small class="text-muted">
						<li class="text-right">Sub Total: <%=number_to_currency current_cart.sub_total %></li>
						<li class="text-right">Tax: $0.00</li>
						<li class="text-right">Shipping: <strike>$5.99</strike>*</li>
						<li class="text-right">*Est. shipping time 1-4 weeks</li></small>
						<li class="text-right">Total: <strong>US <%=number_to_currency current_cart.sub_total %></strong></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card bg-light my-2">
					<div class="card-title text-center mt-3">
						<h5> Payment Information </h5>
					</div>
					<div class="card-body mt-n2">
						<ul class="list-unstyled mx-4 bg-white mb-1"><small>
							<li><%= @order.customer.firstname %> <%= @order.customer.lastname %></li>
							<li><%= @order.customer.address %> <%= @order.customer.optional %></li>
							<li><%= @order.customer.city %> <%= @order.customer.state %> <%= @order.customer.zip %></li></small>
						</ul>
						<u class="mx-3 mt-n4"><small><%= link_to "Not right?", customer_path %></u>
						
		        <div class="md-form mx-2 mb-5 mt-3">	
		        	<div class="field form-group">
		        		<%= label_tag "Name on Card" %>
								<%= f.text_field :cardname, class: 'form-control', placeholder: 'First & Last Name', required: true, autofocus: true %>
							</div>				
							<div class="field form-group">
		            <%= label_tag "Card Number" %>
		            <div id="card-element" class="form-control"></div>
		            <div id="card-errors" role="alert"></div>
		          </div></small>
						<div class="row mt-4 mb-n4 text-center">
							<div class="col">
								<i class="fa fa-cc-stripe fa-lg"></i>
							</div>
							<div class="col">
								<i class="fa fa-cc-visa fa-lg"></i>
							</div>
							<div class="col">
								<i class="fa fa-cc-mastercard fa-lg"></i>
							</div>
							<div class="col">
								<i class="fa fa-cc-discover fa-lg"></i>
							</div>
							<div class="col">
								<i class="fa fa-cc-amex fa-lg"></i>
							</div>
						</div>
		      </div>
		      <div class="mx-3 mb-3">
		 				<%= f.submit "Pay #{number_to_currency current_cart.sub_total}", class: 'btn btn-block text-center btn-custom text-white', id: 'submitBtn', :data => {disable_with: false} %>
	 				</div>
	 			</div>
	 		</div>
    </div>
  </div>
</div>
<% end %>

