<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<ul>
			<li><%= @email %>
			<li><%= @firstname %>
			<li><%= @lastname %>
			<li><%= @country %>
			<li><%= @address %>
			<li><%= @optional %>
			<li><%= @city %>
			<li><%= @state %>
			<li><%= @zip %>
			<li><%= @order %>
		</ul>
	</body>
</html>
