<div class="container">
	<div class="row my-5">
		<div class="col-md-6 mb-4">
 
 <!--Carousel Wrapper-->
    <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
        	<%= image_tag @product.image %>
        </div>
        <div class="carousel-item">
        	<%= image_tag @product.image %>
        </div>
        <div class="carousel-item">
        	<%= image_tag @product.image %>
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-thumb" data-slide-to="0" class="active">
        	<%= image_tag @product.image, class: 'img-fluid d-block w-100' %>
        </li>
        <li data-target="#carousel-thumb" data-slide-to="1">
        	<%= image_tag @product.image, class: 'img-fluid d-block w-100' %>
				</li>
        <li data-target="#carousel-thumb" data-slide-to="2">
        	<%= image_tag @product.image, class: 'img-fluid d-block w-100' %>
        </li>
      </ol>
    </div>
    <!--/.Carousel Wrapper-->

		</div>
		<div class="col">
			<h1><%= @product.title %></h1>
			<%= form_tag order_items_path do %>
				<%= hidden_field_tag :product_id, @product.id %>
				<div class="ml-3 my-4">
					<strong><%= number_to_currency @product.price %></strong>
				</div><hr/>
				<div class="row mt-5">
					<div class="col-md-3">
						<%= select_tag :quantity, options_for_select(1..5), class: 'form-control mb-2' %>
					</div>
					<div class="col">
						<%= submit_tag 'Add to Cart', class: 'btn btn-custom btn-block text-white' %>
					</div>
				</div>
				<p class="text-muted">*Limited time FREE shipping on ALL orders internationally.</p>
			<% end %>
			<div class="card mt-5">
				<h6 class="card-header text-white">Description:</h6>
				<div class="card-body">
					<%= @product.description %>
				</div>
			</div>
		</div>
	</div>
</div>






