<div class="container">
	<div class="row my-5">
		<div class="col-md-6 mb-4">
 
 <!--Carousel Wrapper-->
    <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner text-center" role="listbox">
        <div class="carousel-item active">
        	<%= image_tag @product.image %>
        </div>
        <div class="carousel-item">
        	<%= image_tag @product.image2 %>
        </div>
        <div class="carousel-item">
          <%= image_tag @product.image3 %>
        </div>
        <div class="carousel-item">
          <%= image_tag @product.image4 %>
        </div>
        <div class="carousel-item">
          <%= image_tag @product.image5 %>
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls & Thumbnails -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-thumb" data-slide-to="0" class="active mx-3">
        	<%= image_tag @product.image, class: 'd-block show-thumb' %>
        </li>
        <li data-target="#carousel-thumb" data-slide-to="1" class="mx-3">
        	<%= image_tag @product.image2, class: 'd-block show-thumb' %>
				</li>
        <li data-target="#carousel-thumb" data-slide-to="2" class="mx-3">
          <%= image_tag @product.image3, class: 'd-block show-thumb' %>
        </li>
        <li data-target="#carousel-thumb" data-slide-to="3" class="mx-3">
          <%= image_tag @product.image4, class: 'd-block show-thumb' %>
        </li>
        <li data-target="#carousel-thumb" data-slide-to="4" class="mx-3">
          <%= image_tag @product.image5, class: 'd-block show-thumb' %>
        </li>
      </ol>
    </div>
    <!--/.Carousel Wrapper-->

		</div>
		<div class="col">
			<h2><%= @product.title %></h2>
			<%= form_tag order_items_path do %>
				<%= hidden_field_tag :product_id, @product.id %>
				<div class="ml-3 my-4">
					<strong><strike class="text-danger mr-1">
            <%= @product.price2 %></strike>
             $<%= @product.price.round %></strong>
            <i class="fa fa-star ml-5"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i> ( <%= @product.reviews.count %> )
				</div><hr/>
				<div class="row mt-5">
					<div class="col-md-3">
						<%= select_tag :quantity, options_for_select(1..5), class: 'form-control mb-2' %>
					</div>
					<div class="col">
						<%= submit_tag 'Add to Cart', class: 'btn btn-custom btn-block text-white' %>
					</div>
				</div>
        <small><p class="text-muted">Powered by Stripe secure checkout all prices are in USD</p></small>
        <div class="row mt-4 mb-n4 ml-3">
          <div class="col">
            <i class="fa fa-cc-stripe fa-lg"></i>
          </div>
          <div class="col">
            <i class="fa fa-cc-visa fa-lg"></i>
          </div>
          <div class="col">
            <i class="fa fa-cc-mastercard fa-lg"></i>
          </div>
          <div class="col">
            <i class="fa fa-cc-discover fa-lg"></i>
          </div>
          <div class="col">
            <i class="fa fa-cc-amex fa-lg"></i>
          </div>
        </div>
			<% end %>

      <!-- Begin card with nav tabs -->
			<div class="card mt-5">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills row">
            <li class="nav-item col mx-n2 text-center">
              <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item col mx-n3 text-center">
              <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
            </li>
            <li class="nav-item col mx-n2 text-center">
              <a class="nav-link" id="specs-tab" data-toggle="tab" href="#specs" role="tab" aria-controls="specs" aria-selected="true"> Specs </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="myTabContent">
          <!-- Description tab -->
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab"><small>
              <p><%= @product.description %></p>
              <p><%= @product.description2 %></p>
              <p class="mt-2">Bamboo-<b>kun</b> is the name for the antimicrobial/antifungal bio-agent found in bamboo.  It's bamboo's natural defense against 
              harmful pests.  It is the reason why bamboo cultivation does not require any pesticides.  This makes bamboo the perfect natural replacement
              for single use plastics.  Bamboo also produces 35% more oxygen than plants of similar size, while at the same time requiring far less water!</p></small>
            </div>
          <!-- Reviews tab -->
            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
              <ul id="reviewz">
              <% @product.reviews.each do |p| %>
                <li class="media">
                  <%= image_tag p.avatar, class: 'review-avatar mr-3 align-self-center rounded' %><small>
                  <div class="media-body">
                    <h6 class="d-inline mr-3"><%= p.name %></h5>
                    <% p.stars.times do %>
                      <i class="fa fa-star fa-sm"></i>
                    <% end %>
                    <p class="text-muted">Country: <%= p.country %></p>                    
                    <p><%= p.comments %></p>
                  </div></small>
                </li><hr/>
                <% end %>
              </ul>
              <button class="btn btn-link" data-toggle="modal" data-target="#modalReview">
                Write a Review
              </button>
            </div>
          <!-- Specs tab -->
            <div class="tab-pane fade" id="specs" role="tabpanel" aria-labelledby="specs-tab">
              <small><h6>Product material:</h6> 
              <p class="mt-n2">100% organic bpa-free natural bamboo</p>
              <h6>Product dimensions: </h6> 
              <ul class="mt-n2">
                <li><%= @product.spec1 %></li>
                <li><%= @product.spec2 %></li>
                <li><%= @product.spec3 %></li>
              </ul>
              <h6>Product SKU: </h6>
              <p class="mt-n2"># <%= SecureRandom.hex(8) %></p></small>
            </div>
          </div>
				</div>
			</div>
      <!-- /card -->
		</div>
	</div>
</div>



<!-- Modal: modalReview -->
<div class="modal fade" id="modalReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Error:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <h1 class="mb-3">Oops! You must purchase the product before writing a review. Browse our products   
        <a class="cart-link ml-2" href="/#products"><u>HERE</u></a></h1>          
      </div>
    </div>
  </div>
</div>
<!-- Modal: modalReview -->


