<div class="container mt-4">
	<h1 class="bamboo-title text-center">Create a New Review</h1>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="card bgcustom text-white mb-5">
				<div class="card-body">
	        <%= form_with(model: [@product, @review], local: true) do |f| %>
	        
	          <div class="form-group">
	            <%= f.label :name %>
	            <%= f.text_field :name, class: 'form-control' %>
	          </div> 

	          <div class="form-group">
	            <%= f.label :country %>
	            <%= f.country_select :country, priority_countries = ["US"], options = {}, html_options = {class: 'form-control' } %>
	          </div>  

	          <div class="form-group">
	            <%= f.label :image %>
	            <%= f.file_field :image, class: 'form-control-file border' %>
	          </div>    

	          <div class="form-group">
	            <%= f.label :stars %>	            
							<%= f.select :stars, (1..5), {selected: 5}, class: 'form-control' %>
	          </div>

	          <div class="form-group">
	            <%= f.label :comments %>
	            <%= f.text_area :comments, class: 'form-control' %>
	          </div>

	          <%= f.submit 'Submit', class: 'btn btn-success btn-block border-white' %>
	        <% end %>
      	</div>
			</div>
		</div>
	</div>
</div>
